body
{
  /* Cascading font picker*/
  font-family: Veranda, Geneva, Tahoma, sans-serif;
  /* Background color (hex)*/
  background-color:#eee;
  /*Text colour (hex)*/
  color:#111;
}

a:link {color:#114;}    /*unvisited link*/
a:visited {color:#114;} /*visited link*/
a:hover {color:#116;}   /*hovered over link*/
a:active {color:#116;}  /*clicked link*/